/* Body */
body{
 margin-top:0px;
 margin-left:0px;
 margin-bottom:0px;
 margin-right:0px;
 text-align:right;
 background-image:url(newtab.png);
 background-size:cover;
 background-attachment:fixed;
 background-position-y:30%;
 background-repeat:no-repeat;
 font-weight:700;
}

/* Heading */
h1{
 html body h1 {
  color: #ffffff;
}

body h1 a {
  color: #ffffff;
}

/* Link */
h1 a{
 text-decoration:none;
 color:#ffffff;
}

/* CSS END! */
