/* Body */
body{
 margin-top:0px;
 margin-left:0px;
 margin-bottom:0px;
 margin-right:0px;
 text-align:right;
 background-image:url(newtab.png);
 font-weight:300;
}

/* Heading */
h1{
 font-size:65px;
 text-decoration:none;
 font-weight:700;
}

/* Link */
h1 a{
 text-decoration:none;
 color:#0000ee;
}

/* CSS END! */
